<div class="col-lg-11 col-md-9 col-sm-9 col-xs-9 bhoechie-tab pull-left">
  <!-- <div class="bhoechie-tab-content"> -->
    <center>
      <div class="row lft">
        <div class="speed m-auto"><span class="speedometer"></span><span class="needle"></span>
          <div class="ev-logo"><img src="images/201609_E2V_08.png" alt="" width="39" height="38"></div>
        </div>
      </div>
      <div class="arrow mt-4"><img src="images/arrow.png" alt=""></div>        
    </center>
  <!-- </div>     -->
</div>