<div id="footer" class="row col-lg-12 p-2 align-items-center align-middle">
 <div class="col-lg-4 pt-3 border-right">
  <h6 class="text-white text-left ">ERRORS</h6>
  <ul class="list-inline text-white d-flex text-left">
    <li class="col-md-4 p-0">Total <span>#59</span></li>
    <li class="col-md-4 p-0">Selected <span>#16</span></li>
    <li class="col-md-4 p-0">Rejected <span>#02</span></li>
  </ul>
 </div>
 <div  class="col-lg-4 pt-3 ml-4 align-items-center align-middle">
  <h6 class="text-white text-left ">MARKED FOR REVIEW</h6>
  <ul class="list-inline text-white d-flex text-left">
    <li class="col-md-4 p-0">FONTS <span>#07</span></li>
    <li class="col-md-4 p-0">URL'S <span>#03</span></li>
    <li class="col-md-4 p-0">Images <span>#14</span></li>
  </ul>
</div>
<div  class="col-lg-2 text-right float-right">
 <span class="float-right text-right">
  <app-button [nameOfTheButton]="btnName" [disable]="isdisabled" class="text-right" ></app-button>
 </span>

</div>
</div>
