<div class="col-lg-1 col-md-3 col-sm-3 col-xs-3 bhoechie-tab-menu pull-left">
  <div class="list-group" id="subnav" (click)="myFunction($event)" >

    <a class="list-group-item text-center active" (click)="showResults('markup')">
    <i class="fa fa-code font-weight-bold">
    <span id="markupErrorsCount" class="notification"></span></i>
    <span>HTML MARKUP</span></a>

    <a class="list-group-item text-center" (click)="showResults('attributes')">
    <i class="fa fa-anchor">
    <span id="attributeErrorsCount" class="notification"></span></i>
    <span>ATTRIBUTES</span></a>

    <a class="list-group-item text-center" (click)="showResults('tables')">
    <i class="fa fa-table" aria-hidden="true">
    <span class="notification">1</span></i>
    <span>TABLES</span></a>

    <a class="list-group-item text-center" (click)="showResults('images')">
    <h4 class="glyphicon glyphicon-cutlery"></h4>
    <i class="fa fa-file-image-o" aria-hidden="true">
    <span class="notification">2</span></i>
    <span>IMAGES</span> </a>

    <a class="list-group-item text-center" (click)="showResults('content')">
    <h4 class="glyphicon glyphicon-credit-card"></h4>
    <i class="fa fa-file-text-o" aria-hidden="true">
    <span class="notification">2</span></i>
    <i class="fa fa-clipboard-list"></i>
    <span>CONTENT</span> </a>

    <a class="list-group-item text-center" (click)="showResults('info')">
    <h4 class="glyphicon glyphicon-credit-card"></h4>
    <i class="fa fa-lightbulb-o"></i>
    <span>IFO</span></a>

    <a class="list-group-item text-center" (click)="showResults('fix')">
      <h4 class="glyphicon glyphicon-credit-card"></h4>
      <i class="fa fa-wrench"></i>
      <span>FIX</span></a>
  </div>
</div>
